.handOpponent{

    .hand{
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 140px;
        height: 200px;
        margin: 28px auto;
        margin-bottom: -80px;
        align-items: center;
        justify-content: center;

        @for $i from 1 to 8 {
            .card:nth-child(#{$i}){
                $degrees: -45deg + $i*13;
                transform: rotate($degrees);
            }
        }

        .card:nth-last-child(7):first-child,
        .card:nth-last-child(7):first-child ~ .card{
            transform-origin: 27% -85% 0 !important;
        }

        .card:nth-last-child(4):first-child,
        .card:nth-last-child(4):first-child ~ .card{
            transform-origin: 75% -120% 0 !important;
        }

        .card{
            transform-origin: 50% -125% 0;
            /* &:hover{
                transition-timing-function: linear;
                transition-duration: .3s;
                margin-bottom: 100px;
            } */
        };
    }
}