.handPlayer{
    width: 500px;

    .hand{
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 140px;
        height: 200px;
        margin: 10px auto;
        align-items: center;
        justify-content: center;

        @for $i from 1 to 7 {
            .card:nth-child(#{$i}){
                $degrees: -45deg + $i*13;
                transform: rotate($degrees);
            }
        }

        .card{

            cursor: pointer;
            transform-origin: 50% 200% 0;

            &:hover{
                transition-timing-function: linear;
                transition-duration: .3s;
                margin-bottom: 100px;
            }
        }
    }
    
}

.containerHandPlayer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button{
        height: 37px;
        width: 110px;
        background: #cb7e7e;
        color: #000;
        border: 1px solid #a05555;
        border-radius: 5px;
        margin-left: -80px;
        font-size: 20px;
        
        &:not([disabled]):hover{
            background: #d18d8d;
            box-shadow: 3px 2px 2px rgb(111, 111, 111);
        }

        &:disabled{
            background: #6c757dd4;
            background: #6c757dd4;
            border: 1px solid #6c757dd4;
        }
    }
}