.header{
    height: 50px;
    background: #039429;
    text-align: center;
    span{
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2.1px;
        font-style: italic;
    }
}