.pack{
    height: 236px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    //margin-top: 55px;
    align-items: center;
    .card{
        z-index: 1;
    }
    .card:last-child{
        transform: rotate(90deg);
        z-index: 0;
    }
}

.packContainer{
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}

.packOnTableContainer{
    display: flex;
    min-height: 180px;
    min-width: 100px;
    //margin-top: -208px;
    justify-content: center;
    .packOnTable{
        display: flex;
        width: 524px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        .card:nth-child(2n){
            margin-right: 60px;
        }
        .card:nth-child(n + 7){
            margin-top: 15px;
        }
        .card{
            //margin-top: 15px;
            margin-left: -52px;
        }

    }
}