.pack{
    height: 236px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    align-items: center;
}

.packContainer{
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}