.pack{
    height: 236px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    align-items: center;

    .trumpSuit{
        width: 75px;
        opacity: 0.3;
    }

    .card{
        z-index: 1;
    }

    .card:last-child{
        transform: rotate(90deg);
        z-index: 0;
        margin-left: -78px;
    }
}

.packOnTableContainer{
    display: flex;
    min-height: 180px;
    min-width: 100px;
    justify-content: center;

    .packOnTable{
        display: flex;
        width: 524px;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        .card:nth-child(2n){
            margin-right: 60px;
        }

        .card:nth-child(n + 7){
            margin-top: 15px;
        }

        .card{
            margin-left: -52px;
        }

    }
}